.chkpremiada {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
}
.inputContainer {
    padding: 0 40px 0 40px;
}
.admin-source-container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    padding: 40px 10px;
}
.admin-source-container iframe {
    width: 400px;
    height: 100%;
}
.telegram {
    background: #1b92d14f url(../res/icons/telegram.svg) 5px / 20px no-repeat;
    color: #1b92d1;
}