.parent {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.div2 {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid var(--dark-grey);
    transition: all .4s cubic-bezier(1, 0, 0, 1);
}
.div3 {
    width: 75vw;
    border-radius: 6px;
    border: 1px solid var(--dark-grey);
    transition: all .4s cubic-bezier(1, 0, 0, 1);
}
.logo-container {
    width: 100%;
    aspect-ratio: 1/1;
    background: url(../res/images/logo.jpeg) center / 100% no-repeat;
}
.source-option-container {
    width: 100%;
    height: 80vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    overflow: auto;
}
.source-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.source-container iframe {
    width: 100%;
    height: 100%;
}
.source-option {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid var(--dark-grey);
    gap: 10px;
    background: #fff;
    transition: all .3s cubic-bezier(1, 0, 0, 1);
}
.source-option:hover {
    transition: all .3s cubic-bezier(1, 0, 0, 1);
    border: 1.5px solid var(--dark-grey);
    transform: scale(1.03);
}
.source-option img {
    width: 20px;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.source-option::after {
    font-size: 13px;
    color: var(--dark-grey);
}
.source-option:nth-child(1):after {
    content: "Caja";
}
.source-option:nth-child(2):after {
    content: "Ventas";
}
.source-option:nth-child(3):after {
    content: "Productos";
}
.source-option:nth-child(4):after {
    content: "Insumos";
}
.source-option:nth-child(5):after {
    content: "Obligaciones";
}
.source-option:nth-child(6):after {
    content: "Reportes";
}
.source-option:nth-child(7):after {
    content: "Empleados";
}
.source-option:nth-child(8):after {
    content: "Administración";
}
.source-option:nth-child(9):after {
    content: "Empresa";
}
.source-option:nth-child(10):after {
    content: "Acerca de";
}
#logout_button {
    border: 0;
}
#logout_button:hover {
    border: 0;
    transform: scale(1);
}
#logout_button::after {
    content: "Salir";
}
@media screen and (max-width: 1000px) {
    .div2 {
        width: 8vw;
    }
    .source-option {
        width: 45px;
        aspect-ratio: 1/1;
        justify-content: center;
        gap: 0;
    }
    .source-option::after {
        content: "" !important;
    }
}
@media screen and (max-width: 900px) {
    .div2 {
        display: none;
    }
    .div3 {
        width: 100vw;
    }
    .source-container {
        height: 100vh;
    }
}