@font-face {
    font-family: Montserrat;
    src: url(../res/fonts/Montserrat.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(../res/fonts/Poppins.ttf);
}
@font-face {
    font-family: NunitoSans;
    src: url(../res/fonts/NunitoSans.ttf);
}
@font-face {
    font-family: GothicExp;
    src: url(../res/fonts/GothicExpanded.ttf);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 14px;
    scrollbar-width: 5px;
    scrollbar-color: #1f1f1f;
}
:root {
    --dark-grey: #1f1f1f;
    --white-font: #e0e0e0;
    --amarillo: #f9d000;
    --rojo: #ff0057;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 6px;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.form-container form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 25px;
}
.search-bar-date {
    width: 120px;
    height: 40px;
    border: 1px solid var(--dark-grey);
    border-radius: 6px;
    background: #00000000;
    outline: none;
    color: var(--dark-grey);
}
.addBtn {
    width: 35px;
    aspect-ratio: 1 / 1;
    border: 0;
    background: url(../res/icons/add-green.svg) center / cover no-repeat;
    cursor: pointer;
}
.oneInput {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark-grey);
    border-radius: 4px;
    background-position: 8px;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 0 0 0 40px;
}
.send-button {
    width: 290px;
    height: 40px;
    border: 1px solid var(--dark-grey);
    border-radius: 6px;
    color: var(--dark-grey);
    background: var(--amarillo) url(../res/icons/send.svg) 95% / 25px no-repeat;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}
.inputContainer input,
.inputContainer select,
#ingredientSelect {
    width: 250px;
    height: 40px;
    border: 0;
    background: #00000000;
    font-size: 16px;
    color: var(--dark-grey);
    outline: none;
}
.inputContainer label {
    font-size: 14px;
    position: absolute;
    left: 0;
    transform: translate(45px, 0px);
    transition: all .5s cubic-bezier(1, 0, 0, 1);
    cursor: text;
}
.send-button {
    width: 290px;
    height: 40px;
    border: 1px solid var(--dark-grey);
    border-radius: 6px;
    color: var(--dark-grey);
    background: var(--amarillo) url(../res/icons/send.svg) 95% / 25px no-repeat;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    transition: all .4s cubic-bezier(1, 0, 0, 1);
}
.inputContainer select + label,
.inputContainer input[type='date'] + label,
.active-label {
    transform: translate(25px, -20px) !important;
    font-size: 12px !important;
    background: #fff;
    padding: 5px 5px;
}
.inputContainer input:focus + label {
    transform: translate(25px, -20px);
    transition: all .5s cubic-bezier(1, 0, 0, 1);
    font-size: 12px;
    background: #fff;
    padding: 5px 5px;
}
.active-input-field + label {
    transition: all .3s cubic-bezier(1, 0, 0, 1);
    transform: translate(25px, -20px);
    font-size: 12px;
    background: #fff;
    padding: 5px 5px;
}
.ingredients_table {
    width: 90vw;
    margin: 0 auto;
    border-collapse: collapse;
}
.table-container thead tr {
    background: var(--dark-grey);
}
.table-container thead tr th {
    padding: 8px 8px;
    color: var(--white-font);
    font-size: 13px;
}
.table-container thead tr th:nth-child(1) {
    border-radius: 4px 0px 0px 0px;
}
.table-container thead tr th:nth-child(9) {
    border-radius: 0px 4px 0px 0px;
}
.table-container tbody tr {
    cursor: pointer;
}
.table-container tbody tr:nth-last-of-type(even) {
    background: #e7e7e7;
}
.table-container tbody tr:hover {
    background: var(--amarillo);
}
.table-container tbody tr td {
    font-size: 12px;
    padding: 15px 5px 15px 15px;
    text-align: center;
    position: relative;
}
.table-container tbody tr td:nth-child(2){
    text-align: left;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.small-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
.offer_image {
    width: 35px;
    aspect-ratio: 1/1;
    position: absolute;
    background: url(../res/images/offer.png) top / 100% no-repeat;
    top: -7px;
    left: 0;
}
.textarea-container {
    padding: 0;
    overflow: hidden;
}
.textarea-container textarea {
    width: 290px;
    height: 100px;
    padding: 10px;
    resize: none;
    border: 0;
    outline: none;
    background: #fff;
}
.textarea-container label {
    transform: translate(10px, -52px);
    font-size: 12px;
    background: #fff;
    padding: 5px 5px;
}
.dtcon {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    font-size: 11px;
    padding: 10px 0px;
}
.dtcon div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted var(--dark-grey);
}