#ingredientSelect {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
}
.chklist {
    position: absolute;
    width: 100%;
    height: 550px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    padding: 25px;
    left: 0;
    border-radius: 8px;
    gap: 20px;
    z-index: 2;
}
.chklist h2 {
    margin: 0;
}
.chklist ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.chklist ul li {
    padding: 10px 15px;
    border: 1px solid var(--dark-grey);
    border-radius: 6px;
    font-size: 13px;
    min-width: 350px;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    position: relative;
}
.chklist ul li::marker {
    color: #00000000;
}
.chcant,
.chb {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chb input[type='checkbox'] {
    display: none;
}
.chb label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    border-radius: 6px;
    background: #cbcbcb;
    cursor: pointer;
    transition: all .3s cubic-bezier(1, 0, 0, 1);
}
.chb input[type='checkbox']:checked + label {
    background: var(--amarillo);
    color: var(--dark-grey);
    transition: all .3s cubic-bezier(1, 0, 0, 1);
}
.chcant {
    width: 30%;
}
.chcant input {
    width: 100%;
    height: 35px;
    border: 0;
    background: #eee url(../res/icons/pesa.svg) 5px / 20px no-repeat;
    border-radius: 6px;
    padding: 0 0 0 30px;
    font-size: 14px;
}
.ing-buttons {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
}
.ing-buttons span {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    background: #eee;
    color: var(--dark-grey);
    font-weight: 600;
}
.ing-buttons span:nth-child(1){
    background: #00c493;
    color: #fff;
}
.selected-ings {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px;
}
.selected-ings span {
    font-size: 9px;
    font-weight: 600;
    border: 1px solid var(--dark-grey);
    border-radius: 6px;
    padding: 2px 4px;
    cursor: default;
}
.special-input-cont input[type='checkbox'] {
    display: none;
}
.special-input-cont label,
.con-image label {
    width: 250px;
    height: 40px;
    border: 0;
    background: #00000000;
    font-size: 16px;
    color: var(--dark-grey);
    outline: none;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    transform: translate(0,0);
    cursor: pointer;
}
.special-input-cont .active-input-field + label {
    transform: translate(0,0);
    font-size: 14px;
    padding: 0;
    background: unset;
}
.active_product {
    background: #00c493 !important;
    color: #fff !important;
    font-weight: 600;
    padding: 10px 15px;
    box-shadow: inset 0 0 0 6px #fff;
    border-radius: 10px;
}
.con-image {
    width: 290px;
    padding: 6px;
    flex-direction: row;
    justify-content: space-between;
}
.ot-image {
    display: flex;
    flex-direction: column;
}
.con-image input[type='file'],
.ot-image input[type='file'],
#sizeOfPizza input[type='radio'] {
    display: none;
}
.con-image label,
.ot-image label {
    width: 173px;
    height: unset;
    aspect-ratio: 1/1;
    border: 1px solid var(--dark-grey);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    background: url(../res/icons/image.svg) center / 80px no-repeat;
}
.ot-image label {
    width: 50px;
    background: url(../res/icons/image.svg) center / 30px no-repeat;
}
.imageInput {
    margin: 30px;
}
#sizeOfPizza .inputContainer {
    width: 290px;
    height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
#sizeOfPizza .inputContainer label {
    width: 30px;
    aspect-ratio: 1/1;
    height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: #b1b1b1;
    position: unset;
    border-radius: 6px;
    font-weight: 600;
}
#sizeOfPizza input[type='radio']:checked + label {
    background: var(--amarillo);
}
.textarea-container {
    padding: 0;
    overflow: hidden;
}
.textarea-container textarea {
    width: 290px;
    height: 100px;
    padding: 10px;
    resize: none;
    border: 0;
    outline: none;
    background: #fff;
}
.textarea-container label {
    transform: translate(10px, -52px);
    font-size: 12px;
    background: #fff;
    padding: 5px 5px;
}
.offer_image {
    width: 35px;
    aspect-ratio: 1/1;
    position: absolute;
    background: url(../res/images/offer.png) top / 100% no-repeat;
    top: -7px;
    right: 0;
}
.active_ball {
    width: 5px;
    height: 100%;
    background: #ffe600;
    box-shadow: 2px 0px 0px 0px #ffe60061;
    position: absolute;
    left: 0px;
    top: 0px;
}
.offerbtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.offer {
    background: #212121a6 url(../res/icons/offer-yellow.svg) 5px / 20px no-repeat;
    color: var(--amarillo);
}
.desactivar {
    background: #c1c1c1a6 url(../res/icons/cancel.svg) 5px / 20px no-repeat;
}
.activar {
    background: #c1c1c1a6 url(../res/icons/ok.svg) 5px / 20px no-repeat;
}
.dvcont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.dvcont span {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}
.dvcont span b {
    font-size: 10px;
    color: #2196F3;
}
.ingredients_table thead tr th:nth-child(9) {
    border-radius: 0px 0px 0px 0px;
}
.ingredients_table thead tr th:nth-child(10) {
    border-radius: 0px 4px 0px 0px;
}
#get_barcodes {
    width: 30px;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--dark-grey);
    background: #ededed url(../res/icons/barcode-ui.svg) center / 20px no-repeat;
    cursor: pointer;
    border-radius: 6px;
}
.category-image {
    width: 75px;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.delButton {
    width: 30px;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--dark-grey);
    border-radius: 6px;
    background: #e4e4e4 url(../res/icons/delete-red.svg) center / 20px no-repeat;
}
@media screen and (max-width: 700px) {
    .opscontainer {
        justify-content: center;
    }
}