.parent {
    width: 100vw;
    height: 100vh;
    gap: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.div1 {
    grid-area: 1 / 1 / 2 / 6;
    border: 1px solid var(--dark-grey);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px 0 0;
}
.div2 {
    grid-area: 2 / 1 / 6 / 3;
    border: 1px solid var(--dark-grey);
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.div3 {
    grid-area: 2 / 3 / 6 / 6;
    border: 1px solid var(--dark-grey);
    border-radius: 6px;
    overflow: auto;
}
.logo-container {
    height: 100%;
    aspect-ratio: 1/1;
    background: url(../res/images/logo.jpeg) center / 100% no-repeat;
}
.values-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.totalcont {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    justify-content: center;
}
.descuento {
    font-size: 12px;
}
.descuento b {
    color: #00a750;
}
.totalcont h2 {
    margin: 0;
    font-size: 4em;
    height: 90%;
    font-family: GothicExp;
}
.ingredients_table {
    width: 100%;
}
.searchbar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 10px;
}
.searchbar-container h3 {
    margin: 0;
    padding: 0 0 0 35px;
    background: url(../res/icons/sell-reg.svg) 5px / 20px no-repeat;
}
#prod_result {
    display: none;
}
#sell-details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    border: 1px solid var(--dark-grey);
    border-radius: 6px;
}
#product_search,
#field_change,
#invoice_search,
#rollback_search,
#client_search {
    width: 100%;
    height: 40px;
    border: 1px solid var(--dark-grey);
    border-radius: 6px;
    padding: 0px 0px 0px 40px;
    background: url(../res/icons/lupa.svg) 5px / 20px no-repeat;
    outline: none;
    font-size: 16px;
    color: var(--dark-grey);
}
#invoice_search,
#rollback_search,
#client_search {
    margin-bottom: 15px;
}
#field_change {
    background: url(../res/icons/change.svg) 5px / 20px no-repeat;
}
.sell_actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#make_sell {
    width: 100%;
    height: 70px;
    border: 1px solid var(--dark-grey);
    border-radius: 6px;
    background: var(--amarillo);
    color: var(--dark-grey);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.active-results {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    transform-origin: top;
    transform: translateY(80px);
    z-index: 10;
    gap: 10px;
    background: #fff;
    padding: 10px;
    border: 1px solid var(--dark-grey);
    border-radius: 6px;
    overflow: auto;
    max-height: 300px;
}
.found_product {
    width: 100%;
    padding: 10px;
    background: #dddddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid var(--dark-grey);
    color: var(--dark-grey);
}
.prcant {
    width: 40px;
    border: 0;
    background: #ffffffff;
    text-align: center;
    color: var(--dark-grey);
    outline: none;
    border-radius: 6px;
    padding: 5px;
}
.table-container tbody tr:nth-last-of-type(even) .prcant{
    background: #e7e7e7;
}
.table-container tbody tr:hover .prcant {
    background: var(--amarillo);
}
.delthisprd {
    width: 35px;
    aspect-ratio: 1/1;
    background: transparent url(../res/icons/delete-red.svg) center / 20px no-repeat;
    cursor: pointer;
    border: 0;
}
.sell-details-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background: url(../res/images/logotype_bn.png) center / 85px no-repeat;
}
.cbuttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    gap: 10px;
}
.sbutton {
    width: 48%;
    height: 50px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid var(--dark-grey);
    background-color: #e5e5e5;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}
.sbutton:hover {
    background-color: #dddddd;
}
.history {
    background-image: url(../res/icons/history.svg);
}
.invoices {
    background-image: url(../res/icons/invoice.svg);
}
.clients {
    background-image: url(../res/icons/clients.svg);
}
.rollbacks {
    background-image: url(../res/icons/devolution.svg);
}
.devcontainer {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 10px 40px;
    background: url(../res/icons/money-dollar.svg) 10px / 25px no-repeat;
}
#devuelta {
    margin: 0;
}
.sell-data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 11px;
}
#new_client {
    width: 35px;
    aspect-ratio: 1/1;
    border: 1px solid var(--dark-grey);
    background: #ededed url(../res/icons/new-user.svg) center / 25px no-repeat;
    cursor: pointer;
    border-radius: 6px;
    position: absolute;
    margin: 20px;
    top: 5px;
    right: 90px;
}
.clilogo{
    width: 100px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}
@media screen and (max-width: 800px) {
    .div1 {
        padding: 0 10px 0 0;
    }
    .div2 {
        grid-area: 6 / 1 / 6 / 6;
    }
    .div3 {
        grid-area: 2 / 1 / 6 / 6;
    }
    #make_sell {
        height: 40px;
    }
    .totalcont h2 {
        font-size: 2em;
    }
    #new_client {
        right: unset;
        left: 25px;
    }
}